<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header ">
            <h5>Products / Services</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-original-title="Filter"><span class="me-2"><img
                                    src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter </a>
                    </li>
                    <li class="">
                        <div class="dropdown dropdown-action" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-original-title="Download">
                            <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i
                                        class="fe fe-download"></i></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="d-block">
                                    <li>
                                        <a class="d-flex align-items-center download-item" href="javascript:void(0);"
                                            download><i class="far fa-file-pdf me-2"></i>PDF</a>
                                    </li>
                                    <li>
                                        <a class="d-flex align-items-center download-item" href="javascript:void(0);"
                                            download><i class="far fa-file-text me-2"></i>CVS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-original-title="Print"><span><i
                                    class="fe fe-printer"></i></span> </a>
                    </li>
                    <li>
                        <a class="btn btn-primary" routerLink="/admin/productsServices/product-add">
                            <i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div id="filter_inputs" class="card filter-card">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="input-block mb-3">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="input-block mb-3">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="input-block mb-3">
                        <label>Phone</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- All Invoice -->
    <div class="card invoices-tabs-card">
        <div class="invoices-main-tabs">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="invoices-tabs">
                        <ul>
                            <li><a class="active">Product</a></li>
                            <li><a routerLink="/admin/productsServices/category-list">Category</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /All Invoice -->

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class=" card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="companies-table">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Code</th>
                                        <th>Category</th>
                                        <th>Units</th>
                                        <th>Quantity</th>
                                        <th>Selling Price</th>
                                        <th>Purchase Price</th>
                                        <th class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return1.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Lenovo 3rd Generation</a>
                                            </h2>
                                        </td>
                                        <td>P125389</td>
                                        <td>Laptop</td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return2.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Nike Jordan</a>
                                            </h2>
                                        </td>
                                        <td>P125390</td>
                                        <td>Shoes</td>
                                        <td>Pieces</td>
                                        <td>4</td>
                                        <td>$360.00</td>
                                        <td>$350.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return3.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Apple Series 5 Watch</a>
                                            </h2>
                                        </td>
                                        <td>P125391</td>
                                        <td>Accessories</td>
                                        <td>Inches</td>
                                        <td>7</td>
                                        <td>$724.00</td>
                                        <td>$700.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return4.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Amazon Echo Dot</a>
                                            </h2>
                                        </td>
                                        <td>P125392</td>
                                        <td>Electronics</td>
                                        <td>Box</td>
                                        <td>3</td>
                                        <td>$210.00</td>
                                        <td>$200.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return5.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Lobar Handy</a>
                                            </h2>
                                        </td>
                                        <td>P125393</td>
                                        <td>Furnitures </td>
                                        <td>Kilograms</td>
                                        <td>1</td>
                                        <td>$155.00</td>
                                        <td>$150.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return6.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Woodcraft Sandal</a>
                                            </h2>
                                        </td>
                                        <td>P125394</td>
                                        <td>Bags</td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return7.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Black Slim 200</a>
                                            </h2>
                                        </td>
                                        <td>P125394</td>
                                        <td>Furnitures</td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return8.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Red Premium Handy</a>
                                            </h2>
                                        </td>
                                        <td>P125394</td>
                                        <td>Bags</td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep" src="assets/img/sales-return9.svg"
                                                        alt="User Image"></a>
                                                <a href="profile.html">Bold V3.2</a>
                                            </h2>
                                        </td>
                                        <td>P125394</td>
                                        <td>Electronics</td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-md me-2 companies">
                                                    <img class="avatar-img sales-rep"
                                                        src="assets/img/sales-return10.svg" alt="User Image"></a>
                                                <a href="profile.html">Iphone 14 Pro</a>
                                            </h2>
                                        </td>
                                        <td>P125394</td>
                                        <td>Phone

                                        </td>
                                        <td>Inches</td>
                                        <td>2</td>
                                        <td>$253.00</td>
                                        <td>$248.00</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                    aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-products.html"><i
                                                                    class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                                data-bs-target="#delete_modal"><i
                                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->

</div>