<div class="content container-fluid">
    <div class="signature-invoice">
        <div class="page-header">
            <div class="content-page-header">
                <h5>Create Invoice</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="edit-card">
                    <div class="card-body">
                        <div class="form-group-item border-0 mb-0">
                            <div class="row align-item-center">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Invoice Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Invoice Number">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label for="customerSelect">Customer Name</label>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <select id="customerSelect" class="form-control me-2">
                                                    <option value="" disabled selected>Select Customer</option>
                                                    <option>Customer 1</option>
                                                    <option>Customer 2</option>
                                                    <option>Customer 3</option>
                                                </select>
                                                <a class="btn btn-primary" href="add-customer.html"
                                                    title="Add Customer">
                                                    <i class="fas fa-plus-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Invoice Date</label>
                                        <div class="cal-icon cal-icon-info">
                                            <input type="text" class="datetimepicker form-control"
                                                placeholder="Select Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Due Date</label>
                                        <div class="cal-icon cal-icon-info">
                                            <input type="text" class="datetimepicker form-control"
                                                placeholder="Select Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label for="statusSelect">Status</label>
                                        <select id="statusSelect" class="form-control">
                                            <option value="" disabled selected>Select Status</option>
                                            <option value="unpaid">Unpaid</option>
                                            <option value="partially_paid">Partially Paid</option>
                                            <option value="paid">Paid</option>
                                            <option value="overdue">Overdue</option>
                                            <option value="cancelled">Cancelled</option>
                                            <option value="refunded">Refunded</option>
                                            <option value="draft">Draft</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="input-block mb-3">
                                        <label>Reference Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Reference Number">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="d-flex justify-content-between flex-wrap">
                                        <div class="input-block mb-3 recurring-tab">
                                            <label>Recurring</label>
                                            <ul class="nav nav-pills d-flex" id="pills-tab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active yes" id="pills-home-tab"
                                                        data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                                        role="tab" aria-controls="pills-home"
                                                        aria-selected="true">Yes</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link no" id="pills-profile-tab"
                                                        data-bs-toggle="pill" data-bs-target="#pills-profile"
                                                        type="button" role="tab" aria-controls="pills-profile"
                                                        aria-selected="false">No</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content pt-0" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                                aria-labelledby="pills-home-tab">
                                                <div class="input-block mb-3">
                                                    <label>Recurring cycle</label>
                                                    <input type="text" class="form-control" placeholder="Enter Month">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                                aria-labelledby="pills-profile-tab"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-block mb-3">
                                        <label for="productSelect">Products</label>
                                        <div class="d-flex align-items-center">
                                            <select id="productSelect" class="form-control me-2">
                                                <option value="" disabled selected>Select Product</option>
                                                <option value="product1">Product 1</option>
                                                <option value="product2">Product 2</option>
                                                <option value="product3">Product 3</option>
                                            </select>
                                            <a class="btn btn-primary" href="add-products.html" title="Add Product">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group-item">
                            <div class="card-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-center table-hover datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Product / Service</th>
                                                    <th>Quantity</th>
                                                    <th>Unit</th>
                                                    <th>Rate</th>
                                                    <th>Discount</th>
                                                    <th>Tax</th>
                                                    <th>Amount</th>
                                                    <th class="no-sort">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Lorem ipsum dolor sit amet</td>
                                                    <td><input type="number" class="form-control" value="0"></td>
                                                    <td>Pcs</td>
                                                    <td><input type="number" class="form-control" value="120"></td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>$120.00</td>
                                                    <td class="d-flex align-items-center">
                                                        <a href="#" class="btn-action-icon me-2" data-bs-toggle="modal"
                                                            data-bs-target="#add_discount"><span><i
                                                                    class="fe fe-edit"></i></span></a>
                                                        <a href="#" class="btn-action-icon" data-bs-toggle="modal"
                                                            data-bs-target="#delete_discount"><span><i
                                                                    class="fe fe-trash-2"></i></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-item border-0 p-0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group-bank">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <div class="input-block mb-3">
                                                    <label>Select Bank</label>
                                                    <select class="select">
                                                        <option>Select Bank</option>
                                                        <option>SBI</option>
                                                        <option>IOB</option>
                                                        <option>Canara</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-groups">
                                                    <a class="btn btn-primary" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#bank_details">Add Bank</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-block mb-3 notes-form-group-info">
                                            <label>Notes</label>
                                            <textarea class="form-control" placeholder="Enter Notes"></textarea>
                                        </div>
                                        <div class="input-block  notes-form-group-info mb-0">
                                            <label>Terms and Conditions</label>
                                            <textarea class="form-control"
                                                placeholder="Enter Terms and Conditions"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group-bank">
                                        <div class="invoice-total-box">
                                            <div class="invoice-total-inner">
                                                <p>Taxable Amount <span>$120.00</span></p>
                                                <p>Discount <span>$13.20</span></p>
                                                <p>Vat <span>$0.00</span></p>
                                                <div class="status-toggle justify-content-between">
                                                    <div class="d-flex align-center">
                                                        <p>Round Off </p>
                                                        <input id="rating_1" class="check" type="checkbox" checked="">
                                                        <label for="rating_1"
                                                            class="checktoggle checkbox-bg">checkbox</label>
                                                    </div>
                                                    <span>$0.00</span>
                                                </div>
                                            </div>
                                            <div class="invoice-total-footer">
                                                <h4>Total Amount <span>$107.80</span></h4>
                                            </div>
                                        </div>
                                        <div>
                                            <ul class="nav nav-pills" id="pills-tab1" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <span class="custom_radio me-4 mb-0 active" id="home-tab"
                                                        data-bs-toggle="tab" data-bs-target="#home" role="tab"
                                                        aria-controls="home" aria-selected="true">
                                                        <input type="radio" class="form-control" name="payment">
                                                        <span class="checkmark"></span> Manual Signature
                                                    </span>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <span class="custom_radio me-2 mb-0" id="profile-tab"
                                                        data-bs-toggle="tab" data-bs-target="#profile" role="tab"
                                                        aria-controls="profile" aria-selected="false">
                                                        <input type="radio" class="form-control" name="payment">
                                                        <span class="checkmark"></span> eSignature
                                                    </span>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                    aria-labelledby="home-tab">
                                                    <div class="input-block mb-3">
                                                        <label>Select Signature Name</label>
                                                        <select class="select">
                                                            <option>Allen</option>
                                                            <option>Steven</option>
                                                            <option>Ralph</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-block mb-0">
                                                        <label>Signature Image</label>
                                                        <div
                                                            class="input-block service-upload service-upload-info mb-0">
                                                            <span><img src="assets/img/invoice-signature.png"
                                                                    alt="signature"></span>
                                                            <input type="file" multiple="" id="image_sign">
                                                            <div id="frames"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile" role="tabpanel"
                                                    aria-labelledby="profile-tab">
                                                    <div class="input-block mb-3">
                                                        <label>Enter Signature Name</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Name">
                                                    </div>
                                                    <div class="input-block mb-0">
                                                        <ul class="nav nav-pills" id="pills-tab2" role="tablist">
                                                            <li class="nav-item" role="presentation">
                                                                <span class="custom_radio me-4 mb-0 active"
                                                                    id="upload-signature-tab" data-bs-toggle="tab"
                                                                    data-bs-target="#upload-signature" role="tab"
                                                                    aria-controls="upload-signature"
                                                                    aria-selected="true">
                                                                    <input type="radio" class="form-control p-0"
                                                                        name="payment"><span
                                                                        class="checkmark"></span>Upload Signature
                                                                </span>
                                                            </li>
                                                            <li class="nav-item" role="presentation">
                                                                <span class="custom_radio me-2 mb-0"
                                                                    id="e-signature-tab" data-bs-toggle="tab"
                                                                    data-bs-target="#e-signature" role="tab"
                                                                    aria-controls="e-signature" aria-selected="false">
                                                                    <input type="radio" class="form-control p-0"
                                                                        name="payment">
                                                                    <span class="checkmark"></span> Draw your eSignature
                                                                </span>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane fade show active" id="upload-signature"
                                                                role="tabpanel" aria-labelledby="upload-signature-tab">
                                                                <div
                                                                    class="input-block service-upload service-upload-info mb-0">
                                                                    <span><i class="fe fe-upload-cloud me-1"></i>Upload
                                                                        Signature</span>
                                                                    <input type="file" multiple="" id="image_sign2">
                                                                    <div id="frames2"></div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="e-signature" role="tabpanel"
                                                                aria-labelledby="e-signature-tab">
                                                                <div class="e-signature-block">
                                                                    <div class="signature-draw-area">

                                                                    </div>
                                                                    <a href="javascript:void(0);"
                                                                        class="signature-clear">Clear & draw again</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="preview-boxs">
                            <a href="signature-preview-invoice.html">Preview Invoice</a>
                            <form action="https://kanakku.dreamstechnologies.com/html/template/invoices.html"
                                class="add-customer-btns text-end">
                                <button type="reset" class="btn btn-primary cancel me-2">Cancel</button>
                                <button type="reset" class="btn btn-primary cancel me-2">Save</button>
                                <button type="submit" class="btn btn-primary">Save & Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>