<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="content-page-header">
            <h5>Payments</h5>
            <div class="list-btn">
                <ul class="filter-list">
                    <li>
                        <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-original-title="Filter"><span class="me-2"><img
                                    src="assets/img/icons/filter-icon.svg" alt="filter"></span>Filter </a>
                    </li>
                    <li>
                        <a class="btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-original-title="Grid-View"><span><i
                                    class="fe fe-grid"></i></span> </a>
                    </li>
                    <li>
                        <a class="active btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-original-title="List-View"><span><i
                                    class="fe fe-list"></i></span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Customer</th>
                                    <th>Payment ID</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment Method</th>
                                    <th>Status</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-14.jpg" alt="User Image"></a>
                                            <a href="profile.html">John Smith <span><span class="__cf_email__"
                                                        data-cfemail="c0aaafa8ae80a7ada1a9aceea3afad">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689825</td>
                                    <td>$1,54,220</td>
                                    <td>19 Dec 2023, 06:12 PM</td>
                                    <td>Cash</td>
                                    <td><span class="badge bg-success-light text-success-light">Success</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-15.jpg" alt="User Image"></a>
                                            <a href="profile.html">Johnny <span><span class="__cf_email__"
                                                        data-cfemail="f59f9a9d9b9b8cb59298949c99db969a98">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689826</td>
                                    <td>$1,222</td>
                                    <td>20 Nov 2023, 04:12 PM</td>
                                    <td>Cheque</td>
                                    <td><span class="badge bg-warning-light text-warning-light">Processing</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-16.jpg" alt="User Image"></a>
                                            <a href="profile.html">Robert <span><span class="__cf_email__"
                                                        data-cfemail="0c7e636e697e784c6b616d6560226f6361">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689827</td>
                                    <td>$2,2222</td>
                                    <td>21 Oct 2023, 07:12 AM</td>
                                    <td>Cheque</td>
                                    <td><span class="badge bg-danger-light">Failed</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-17.jpg" alt="User Image"></a>
                                            <a href="profile.html">Sharonda <span><span class="__cf_email__"
                                                        data-cfemail="fc8f949d8e9392bc9b919d9590d29f9391">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689828</td>
                                    <td>$5,222</td>
                                    <td>19 Sep 2023, 11:12 AM</td>
                                    <td>Cash</td>
                                    <td><span class="badge bg-success-light text-success-light">Success</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-18.jpg" alt="User Image"></a>
                                            <a href="profile.html">Pricilla <span><span class="__cf_email__"
                                                        data-cfemail="f181839892989d9d90b1969c90989ddf929e9c">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689829</td>
                                    <td>$8,54,220</td>
                                    <td>13 Nov 2022, 01:12 PM</td>
                                    <td>Cheque</td>
                                    <td><span class="badge bg-warning-light text-warning-light">Processing</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="assets/img/profiles/avatar-19.jpg" alt="User Image"></a>
                                            <a href="profile.html">Randall <span><span class="__cf_email__"
                                                        data-cfemail="493b28272d282525092e24282025672a2624">[email&#160;protected]</span></span></a>
                                        </h2>
                                    </td>
                                    <td>#25689830</td>
                                    <td>$3,54,220</td>
                                    <td>19 Dec 2022, 06:12 PM</td>
                                    <td>Cheque</td>
                                    <td><span class="badge bg-danger-light text-danger-light">Failed</span></td>
                                    <td class="d-flex align-items-center">
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-download"></i></a>
                                        <a class=" btn-action-icon me-2" href="javascript:void(0);" download><i
                                                class="fe fe-eye"></i></a>
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                                                class="fe fe-edit me-3"></i>Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:void(0);"
                                                            data-bs-toggle="modal" data-bs-target="#delete_modal"><i
                                                                class="far fa-trash-alt me-2"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Table -->

</div>